body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

main {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    width: 33rem;
    height: 25rem;
    margin: 6.5rem 0;
    font-family: "Montserrat";
    border-radius: 10px;
}

h1 {
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 30px;
    margin: 0.5rem 0;
}

p {
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

/* Image Section */
.desktop-image {
    width: 17rem;
    height: 25rem;
    border-radius: 10px 0 0 10px;
}

.mobile-image {
    display: none;
}

/* Description Section */
.description {
    padding: 1rem;
}

.product {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

/* Price Section */
.price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-price {
    font-size: 30px;
    font-family: "Fraunces";
    font-weight: 700;
    padding-right: 2rem;
    margin: 0.5rem 0 1rem;
    color: hsl(158, 36%, 37%);
}

.old-price {
    text-decoration: line-through;
    margin: 0.5rem 0 1rem;
}

/* Button Section */
.cart-img {
    margin-right: 0.5rem;
}

button:hover {
    color: hsl(212, 21%, 14%);
}

/* Attribution Section */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 450px) {
    main {
        flex-direction: column;
        width: 19rem;
        height: 35rem;
        margin: 2rem 0;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: inline;
        width: 19rem;
        border-radius: 10px 10px 0 0;
    }
}